body {
    padding-top: 70px;
}

.butn {
    height: 50px;
    padding: 5px;
    margin: 10px;
    background: #F2C14E;
    text-align: center;
    font-size: 2em;
    color: white;
    float: left;
    position:relative;
}
.single {
    width: 75px;
    /*position: relative;*/
}

.double{
    width:150px;
    /*margin-right: 20px;*/
    margin-left: 30px;
}

.shift-text {
    text-align: left;
    font-size: 1em;
    padding-left: 0px;
    position: absolute;
    bottom:1px;
    left: 10px;
}
.shift-text-small {
    text-align: right;
    font-size: .5em;
    padding: 0px;
    color: #457B9D;
    position: absolute;
    top: -20px;
    right:1px;
}

.display-row {
    margin: auto;
    position: relative;
    height: 40px;
    width: 400px;
    font-size: 2em;
    color:#454545;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    /*background: #D9DCD6;*/
    background-color: #5FAD56;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 2em;
}


.button-row {
    margin: auto;
    position: relative;
    height: 80px;
    width: 400px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
    color: white;
    background-color: #0D3B66;
    /*position:relative;*/
    /*border: 1px solid black;*/
}


.green {
    background: #73877B;
    border: 0;
    cursor: pointer;
}

.green:hover {
    background-color: #839788;
    outline: none;
}

.orange {
    /*background: #FAA916;*/
    background: #F95738;
    border: 0;
    cursor: pointer;
}

.orange:hover {
    outline: none;
    /*background-color: #E4572E;*/

}

.blue {
    background: #1982C4;
    border: 0;
    cursor: pointer;
}

.blue:hover {
    outline:none;
    /*background-color: #16425B*/
}


.input-large {
    width: 85%;
}

.input-small {
    width: 10px;
    background-color: #334E58;
}